<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>

    <!-- Matrial Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">

    <!-- CSS File Link -->
    <link rel="stylesheet" href="/style.css">

    <!-- Font awesome icon link -->      
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

</head>

<body>
    <section class="navbar">
        <nav>
            <div class="logo">
          <a href="/"><h2>Crypto<span>Verse</span></h2></a>
      </div>

        <div class="navitems" id="navlinks">

           <i class = "fa fa-times" onclick= "show();"></i>

          <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cryptocurrency"> Cryptocurrency </a></li>
        <li><a href="/news"> News </a></li>
        <li><a href="/converter"> Converter </a></li>
        <li><a href="/register"> Sign Up </a></li>
        <li class="sign-in"><a href="/login"> Sign In </a></li>
      </ul>
        </div>

        <i class = "fa fa-bars" onclick= "hide();"></i>
      
        </nav>
    </section>

    <section class="register">
        <h1 class="heading">Create Your Account</h1>

        <div class="fo">
            <form name="register" action="/register" method="POST">
                <p>
                    Already Registred ?
                    <a href="/login" class="link"> Login Now </a>
                </p>
                <br />

                <input type="text" name="name" autocomplete="off" placeholder="Username" required />

                <br />

                <input type="text" name="email" autocomplete="off" placeholder="Email" required />

                <br />

                <input type="password" name="password" autocomplete="off" placeholder="Password" required />

                <br />

                <input type="password" name="cpassword" autocomplete="off" placeholder="Confirm Password" required />

                <br />
                {{!-- <div class="danger" id="error" style="display: none"></div>
                <div class="success" id="success" style="display: none"></div> --}}
                <br />

                <p class="terms">
                    By Creating an Account, I accept the Terms and Conditions and
                    Privacy Policy.
                </p>

                <input type="submit" name="register" class="btn" value="submit" />

                <br />

                {{#if message}}
                <h4 class="alert"> {{message}} </h4>
                {{/if}}

            </form>
        </div>
    </section>


    <script src="/main.js"></script>

</body>

</html>